@media (min-width:601px) and (max-width:768px) {
    /* layout */
    .col-1{width: 8.33%;
        float: left;}
    .col-m-2{width: 16.66%;
        float: left;}
    .col-m-3{width: 25%;
        float: left;}
    .col-m-4{width: 33.33%;
        float: left;}
    .col-m-5{width: 41.66%;
        float: left;}
    .col-m-6{width: 50%;
        float: left;}
    .col-m-7{width: 58.33%;
        float: left;}
    .col-m-8{width: 66.66%;
        float: left;}
    .col-m-9{width: 75%;
        float: left;}
    .col-m-10{width: 83.33%;
        float: left;}
    .col-m-11{width: 91.66%;
        float: left;}
    .col-m-12{width: 100%;
        float: left;}
    /* Global class */
    section{

        padding: 50px 0px;
    }
    p{
    font-size: 12px;
    margin-top: 15px;
    }
    .heading{
        font-size: 18px;

    line-height: 40px;
    }
    .sub-heading{
        font-size: 18px;
        line-height: 17px;
       margin: 5px 0px;
    }
    .underline{
 
        width: 7% ;
        margin: auto;
        margin-top: 10px;
    }
    .writing-part{
        margin-bottom: 25px;
    }
    header{
        text-align: center;
    }
    .menu-part ul{
        text-align: center;
    }
 
      header{

      }
      .hero-part h1{
        font-size: 28px;
        margin-bottom: 25px;
      }
      .hero-part button{
    
        font-size: 12px;
        width: 155px;
        margin-top: 20px;
      }
      #service-box, .team-box,.{
      margin-top: 15px;
      }
      .service-box img{
        max-width: 75%;
        max-height: 80px;
      
       }
       .service-box{
        padding: 10px 10px;
       }
       .team-box img{
        max-width: 75%;
        max-height: 90px;
      
       }
       .team-box{
        padding: 10px 10px;
       }
       .team-icon i{
        font-size: 7px;
       }
       .skill-box img{
        max-width: 75%;
        max-height: 90px;
      
       }
       .skill-box{
        padding: 10px 15px;
       }
       .protfolio-box img{
        max-width: 100%;
        max-height: 150px;
      
       }
       .protfolio-btn button{
        font-size: 10px;
        font-weight: 500;
     
       }
      .load-btn{
        margin: auto;

      padding:5px 0px;
      font-size: 12px;
      width: 150px;
      margin-top: 20px;
      }
      .about-img img{
        max-width: 110%;
        max-height: 160px;
      
      }
      .about-writing p{
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
      }
      input[type="submit"]{
     width: 120px; 
        

    }
    footer a{
        font-size: 15px;
        font-weight: 500;
      }
      footer ul{
       text-align: center;
       padding: 10px 0px;
      }  
      footer li{
        display: inline;
        padding: 5px 0px;
      }    
}
